{% extends 'site/index.html.twig' %}

{% block content %}
<div class="container">
	<div class="row">
	{% block formBlock %}
		{% form_theme form 'form/fields.html.twig' %}
		
		{{ form_start(form) }}
		    {%  block mainFields1 %}
		    {%  endblock %}
		    
		    {% block moreFields1 %}
		    {%  endblock %}
		    
		    {%  block mainFields2 %}
		    {%  endblock %}
		    
		    {% block moreFields2 %}
		    {%  endblock %}
		
			{{ form_errors(form) }}
		
			{% block actions %}
		    {% endblock %}
		{{ form_end(form) }}
	{% endblock %}
	</div>
</div>
{% endblock %}